@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Satisfy&family=Shadows+Into+Light&display=swap');

body{
background-color: #ffe4c4;
background:url(Isis-santos-fotos/emojinho-violao-fundo.png);
}

*{
    margin: 0px;
    padding: 0px;
}

header{
padding-top: 15px;
background-color: #ffe4c4;
max-width: 630px;
margin: auto;
border-radius: 30%;
}

h1#Isis_Santos{
    text-align: center;
    font-family: 'Satisfy', cursive;
    height: 60px;
    font-size: 3em;
}

h2#TheSite{
text-align: center;
font-family: 'Great Vibes', cursive;
padding: 0px;
}

main, section{
max-width: 600px;
background-color: white;
margin: auto;
padding: 25px;
border-radius: 15px;
}
img{
display: block;
margin: auto;
}
p{
text-align: justify;
}